*,
html,
body {
    background-color: gray;
    color: black;
    font-size: 1rem;
    justify-content: center;
}

.form-container {
    padding: 40px;
    background-color: white;
    justify-items: center;
}

.file-form {
    display: grid;
    width: max-content;
    height: max-content;
    margin: auto 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20;
    border: 2px black;
    border-radius: 5px;
}

button {
    cursor: pointer;
    color: white;
    background-color: black;
    width: max-content;
    margin: auto 0;
}
